@{
    ViewData["Title"] = "SearchObservations";
    Layout = "_Layout";
}
<h4>SearchObservations</h4>
<p>Advanced search/filter screen for observations (by division, year, status, reference no, etc.).</p>
