@{
    ViewData["Title"] = "Initial Assessment";
    Layout = "_Layout";
    var complaintId = ViewData["ComplaintId"];
}
<h4>Initial Assessment</h4>
<form id="assessmentForm">
    <input type="hidden" name="ComplaintId" value="@complaintId" />
    <div class="mb-2">
        <label class="form-label">Initial Assessment</label>
        <textarea class="form-control" name="Assessment"></textarea>
    </div>
    <div class="mb-2">
        <label class="form-label">Recommendation</label>
        <select class="form-select" name="Recommendation">
            <option>Qualify</option>
            <option>Not Qualify</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Forward</button>
</form>
@section Scripts{
<script>
    $(function(){
        $('#assessmentForm').on('submit', function(e){
            e.preventDefault();
            var data = $(this).serialize();
            $.post(g_asiBaseURL + '/ApiCalls/AddAssessment', data, function(){
                alert('Assessment submitted');
            });
        });
    });
</script>
}
