@{
    ViewData["Title"] = "Authorize Para Status Change";
    Layout = "_Layout";
}
<script>
    var g_obsList = [];
    var g_comId = "";
    var g_newId = 0;
    var g_oldId = 0;
    var g_ind = "";
    var g_action = "A";

    $(document).ready(function () {
        loadRequests();
    });

    function loadRequests() {
        $('#manageObsPanel tbody').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_paras_for_status_change_authorize",
            type: "POST",
            data: {},
            cache: false,
            success: function (data) {
                g_obsList = data;
                $.each(data, function (index, child) {
                    $('#manageObsPanel tbody').append('<tr>' +
                        '<td>' + (child.parA_NO || '') + '</td>' +
                        '<td>' + (child.audiT_PERIOD || '') + '</td>' +
                         '<td>' + (child.gisT_OF_PARAS || '') + '</td>' +
                        '<td>' + (child.parA_STATUS || '') + '</td>' +
                        '<td>' + (child.neW_PARA_STATUS || '') + '</td>' +                        
                        '<td class="text-center"><a class="text-success" style="cursor:pointer" onclick="openAction(\'' + child.coM_ID + '\',' + child.NEW_PARA_ID + ',' + child.OLD_PARA_ID + ',\'' + child.ind + '\',\'A\')">Approve</a> | <a class="text-danger" style="cursor:pointer" onclick="openAction(\'' + child.coM_ID + '\',' + child.NEW_PARA_ID + ',' + child.OLD_PARA_ID + ',\'' + child.ind + '\',\'R\')">Reject</a></td>' +                        '</tr>');
                });
            },
            dataType: 'json'
        });
    }

    function openAction(comId, newId, oldId, ind, act) {
        g_comId = comId;
        g_newId = newId;
        g_oldId = oldId;
        g_ind = ind;
        g_action = act;
        $('#RemarkField').val('');
        $('#process_detail').modal('show');
    }

    function submitAction() {
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/authorize_para_change_status",
            type: "POST",
            data: {
                'COM_ID': g_comId,
                'NEW_PARA_ID': g_newId,
                'OLD_PARA_ID': g_oldId,
                'REMARKS': $('#RemarkField').val(),
                'IND': g_ind,
                'Action_IND': g_action
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                $('#process_detail').modal('hide');
                loadRequests();
            },
            dataType: 'json'
        });
    }
</script>
<div class="row">
    <div class="col-md-12 mt-3">
        <h3 style="display:block;color:#45c545;">Authorize Para Status Change Request</h3>
    </div>
    <div class="row col-md-12 mt-3">
        <table id="manageObsPanel" class="table table-hover table-bordered table-striped">
            <thead style="background-color:#19875478;">
                <tr>
                    <th class="col-md-auto">Para No.</th>
                    <th class="col-md-auto">Audit Year</th>
                    <th class="col-md-auto">Para Title</th>
                    <th class="col-md-auto">Current Status</th>
                    <th class="col-md-auto">Requested Status</th>
                    <th class="col-md-auto">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div id="process_detail" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Authorization</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="mt-3 modal-body">
                <form>
                    <div class="mt-3 col-md-12">
                        <label class="font-weight-bold">Remarks</label>
                    </div>
                    <div class="mt-2 col-md-12">
                        <textarea class="form-control" id="RemarkField"></textarea>
                    </div>
                </form>
            </div>
            <div class="mt-3 modal-footer">
                <button id="Publishchange" type="button" class="btn btn-danger" onclick="submitAction();">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="paraTextDisplayModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Para Text</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="mt-3 modal-body">
                <div id="paraTextModelPanel"></div>
            </div>
            <div class="mt-3 modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
