@{
    ViewData["Title"] = "Change Password";

}

<script type="text/javascript">
    function CheckPassword(inputtxt) {
        
        if (inputtxt.match(passw)) {
            return true;
        }
        else {
            return false;
        }
    }
    function onSubmitChangePassword() {
        if ($('#inputConfirmPassword').val() != $('#inputNewPassword').val()) {
            alert('New Passowrd and Confirm Password does not match');
            return;
        }

        var password_field = $('#inputNewPassword').val();
       // var passw = "^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$";

        if (password_field.length<8) {
                alert("<div><p>Password should contains at least 8 characters</p></div>");
                return false;
        } else {

            $.ajax({
                url: g_asiBaseURL + "/Home/DoChangePassword",
                type: "POST",
                data: {
                    'Password': encryptPassword($('#inputPassword').val()),
                    'NewPassword': encryptPassword($('#inputNewPassword').val()),
                },
                cache: false,
                success: function (data) {
                    alert("Your Password has been changed Successfully");
                    onAlertCallback(reloadLocation);
                },
                dataType: "json",
            });
        }
      
    }

    function reloadLocation() {
        window.location.href = g_asiBaseURL + "/login/logout";
    }
</script>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-success text-white text-center">
                    <h4 class="mb-0">Change Password</h4>
                </div>
                <div class="card-body">
                    <div class="form-group mb-3">
                        <input required type="password" placeholder="Old Password" id="inputPassword" name="Password" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                        <input required type="password" placeholder="New Password" id="inputNewPassword" name="NewPassword" class="form-control" />
                    </div>
                    <div class="form-group mb-4">
                        <input required type="password" placeholder="Confirm Password" id="inputConfirmPassword" name="ConfirmPassword" class="form-control" />
                    </div>
                    <button type="button" class="btn btn-primary btn-block" onclick="onSubmitChangePassword();">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="loginerrormodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title">Invalid Login Credentials</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Please Enter Valid P.P. Number & Password</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>