@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<style type="text/css">
    .container{
        max-width:100%;
    }
    .home-wrapper{
        min-height: calc(100vh - 150px);
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .home-wrapper img{
        max-width:65%;
        height:auto;
    }
</style>



<div class="home-wrapper">
    <img src="~/Images/home.png" alt="Home Image" />
</div>
