@{
    ViewData["Title"] = "FAD Desk Officer Report";
    Layout = "_Layout";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#searchDeskReport').click(function () {
            if ($('#startDate').val() && $('#endDate').val()) {
                loadDeskReport();
            }
        });
    });

    function loadDeskReport() {
        destroyDatatable('fadDeskOfficerTable');
        $('#fadDeskOfficerTable tbody').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_fad_desk_officer_rpt_by_date_range",
            type: "POST",
            data: {
                "startDate": $('#startDate').val(),
                "endDate": $('#endDate').val()
            },
            cache: false,
            success: function (data) {
                $.each(data, function (i, v) {
                $('#fadDeskOfficerTable tbody').append('<tr><td>' + v.auditPeriod + '</td><td>' + v.childCode + '</td><td>' + v.cName + '</td><td>' + v.az + '</td><td>' + v.pName + '</td><td>' + v.annex + '</td><td>' + v.gistOfParas + '</td><td>' + v.paraNo + '</td><td>' + v.noOfInstances + '</td><td>' + v.risk + '</td><td>' + v.amount + '</td></tr>');                });
                initializeDataTable('fadDeskOfficerTable');
            },
            dataType: "json"
        });
    }
</script>

<div class="row col-md-12 mt-3">
    <h3 style="color: #45c545;">FAD Desk Officer Report</h3>
</div>
<div class="row col-md-12 mt-2">
    <label>Start Date</label>
    <input id="startDate" type="date" class="form-control" />
</div>
<div class="row col-md-12 mt-2">
    <label>End Date</label>
    <input id="endDate" type="date" class="form-control" />
</div>
<div class="row col-md-12 mt-2">
    <button id="searchDeskReport" type="button" class="btn btn-danger">Search</button>
</div>
<div class="row col-md-12 mt-3">
    <table id="fadDeskOfficerTable" class="table table-hover table-bordered table-striped">
        <thead style="background-color: #19875478;">
            <tr>
                <th>Year</th>
                <th>Br Code</th>
                <th>Branch</th>
                <th>Audit</th>
                <th>Region</th>
                <th>Annex</th>
                <th>Gist Of Paras</th>
                <th>Para No</th>
                <th>Instances</th>
                <th>Risk</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
