@{
    ViewData["Title"] = "Risk Register";
    Layout = "_Layout";
}

<h2 class="mt-1 mb-1">Audit Risk Rating Matrix</h2>

<style>
    /* Allow table cell content to wrap */
    #riskRegisterTable th,
    #riskRegisterTable td {
        white-space: normal !important;
        word-break: break-word;
    }

    /* Ensure the table utilizes the full available width */
    #riskRegisterTable {
        width: 220% !important;
    }
</style>

<table id="riskRegisterTable" class="table table-bordered table-striped bg-white w-100">
    <colgroup>
        <col data-dt-column="0" style="width: 400px;" />
        <col data-dt-column="1" style="width: 500px;" />
        <col data-dt-column="2" style="width: 150px;" />
        <col data-dt-column="3" style="width: 150px;" />
        <col data-dt-column="4" style="width: 150px;" />
        <col data-dt-column="5" style="width: 150px;" />
        <col data-dt-column="6" style="width: 150px;" />
        <col data-dt-column="7" style="width: 150px;" />
    </colgroup>
    <thead class="table-success">
        <tr>
            <th>Work Package / Process</th>
            <th>Area / Description</th>
            <th class="text-center">Weightage</th>
            <th class="text-center">Weighted Average</th>
            <th class="text-center">Risk Based Marks</th>
            <th class="text-center">Weighted Average Marks</th>
            <th class="text-center">Minimum Formula</th>
            <th class="text-center">Composite Rating </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Portfolio Management (Lending &amp; Credit Administration / Recovery / Collection &amp; Default Management)</td>
            <td>Pre Sanctioning: Already Mortgaged Land, eCIB Missing, Wrong Feeding of MCL in System</td>
            <td class="text-center">5</td>
            <td class="text-center">0</td>
            <td class="text-center">28</td>
            <td class="text-center">28</td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
        </tr>
        <tr>
            <td>Portfolio Management (Lending &amp; Credit Administration / Recovery / Collection &amp; Default Management)</td>
            <td>Pre Sanctioning: Incomplete Loan Documentation, NDC Missing, Old Record, Area Under Preemption etc.</td>
            <td class="text-center">5</td>
            <td class="text-center">0</td>
            <td class="text-center">28</td>
            <td class="text-center">28</td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
        </tr>
        <tr>
            <td>Portfolio Management (Lending &amp; Credit Administration / Recovery / Collection &amp; Default Management)</td>
            <td>Pre Sanctioning: Passbook not Revalidated, Debt to Equity, Charge not Confirmed</td>
            <td class="text-center">5</td>
            <td class="text-center">0</td>
            <td class="text-center">28</td>
            <td class="text-center">28</td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
        </tr>
        <tr>
            <td>Portfolio Management (Lending &amp; Credit Administration / Recovery / Collection &amp; Default Management)</td>
            <td>Post Sanctioning: Collateral/Security Documentation, Tractor Insurance and Repayment Schedule Delivery</td>
            <td class="text-center">5</td>
            <td class="text-center">0</td>
            <td class="text-center">28</td>
            <td class="text-center">28</td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
        </tr>
        <tr>
            <td>Portfolio Management (Lending &amp; Credit Administration / Recovery / Collection &amp; Default Management)</td>
            <td>Post Sanctioning: Tractor Registration, Crop Insurance &amp; Record Digitalization</td>
            <td class="text-center">5</td>
            <td class="text-center">0</td>
            <td class="text-center">28</td>
            <td class="text-center">28</td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
        </tr>
        <tr>
            <td>Portfolio Management (Lending &amp; Credit Administration / Recovery / Collection &amp; Default Management)</td>
            <td>Post Sanctioning: Dispatch of Sanction Letter to Borrower</td>
            <td class="text-center">5</td>
            <td class="text-center">0</td>
            <td class="text-center">28</td>
            <td class="text-center">28</td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
        </tr>
        <tr class="table-success">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Collection, Recovery &amp; Default Management</td>
            <td>Redemption of Land in Alive Loan Case, Defective and Missing Security/Collaterals Documents</td>
            <td class="text-center">5</td>
            <td class="text-center">0</td>
            <td class="text-center">28</td>
            <td class="text-center">28</td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
        </tr>
        <tr>
            <td>Collection, Recovery &amp; Default Management</td>
            <td>Time Barred Loan Cases &amp; Loan Disbursed/Processed on Unpossessed Land</td>
            <td class="text-center">5</td>
            <td class="text-center">0</td>
            <td class="text-center">28</td>
            <td class="text-center">28</td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
        </tr>
        <tr>
            <td>Collection, Recovery &amp; Default Management</td>
            <td>Zero/Artificial &amp; Stuck up Recovery Cases, Prudent Recovery Practices, Embezzlement/Misuse of Recovery</td>
            <td class="text-center">5</td>
            <td class="text-center">0</td>
            <td class="text-center">28</td>
            <td class="text-center">28</td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
        </tr>
        <tr>
            <td>Collection, Recovery &amp; Default Management</td>
            <td>Demand, Legal &amp; eCIB Notices. Normal Issues in NPL/SAM Loans. Legal Case Management. Pending Installments</td>
            <td class="text-center">5</td>
            <td class="text-center">0</td>
            <td class="text-center">28</td>
            <td class="text-center">28</td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
        </tr>
        <tr class="table-success">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>General Banking Operations &amp; Management (Security &amp; Cash Operations, Account Opening, Cheque Book/Debit Card Management, Receipt/Payment Operations &amp; General Controls)</td>
            <td>Branch &amp; Vault Security and Cash Operations</td>
            <td class="text-center">5</td>
            <td class="text-center">0</td>
            <td class="text-center">28</td>
            <td class="text-center">28</td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
        </tr>
        <tr>
            <td>General Banking Operations &amp; Management (Security &amp; Cash Operations, Account Opening, Cheque Book/Debit Card Management, Receipt/Payment Operations &amp; General Controls)</td>
            <td>Security Stationary Management, Record Keeping, Issuance, Balancing etc.</td>
            <td class="text-center">5</td>
            <td class="text-center">0</td>
            <td class="text-center">28</td>
            <td class="text-center">28</td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
        </tr>
        <tr>
            <td>General Banking Operations &amp; Management (Security &amp; Cash Operations, Account Opening, Cheque Book/Debit Card Management, Receipt/Payment Operations &amp; General Controls)</td>
            <td>Cash with Banker Limits, Insurance of Cash in Hand/Teller/MCO, Cash Operations and Documentation Issues</td>
            <td class="text-center">5</td>
            <td class="text-center">4</td>
            <td class="text-center">20</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>General Banking Operations &amp; Management (Security &amp; Cash Operations, Account Opening, Cheque Book/Debit Card Management, Receipt/Payment Operations &amp; General Controls)</td>
            <td>Account Opening, Maintenance &amp; Closing</td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>General Banking Operations &amp; Management (Security &amp; Cash Operations, Account Opening, Cheque Book/Debit Card Management, Receipt/Payment Operations &amp; General Controls)</td>
            <td>Unclaimed Accounts, KYC/CDD, PEP, Proscribe/Designated Persons/Entities, Statement of Account Delivery and Dormancy Notices</td>
            <td class="text-center">5</td>
            <td class="text-center">0</td>
            <td class="text-center">160</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>General Banking Operations &amp; Management (Security &amp; Cash Operations, Account Opening, Cheque Book/Debit Card Management, Receipt/Payment Operations &amp; General Controls)</td>
            <td>Biometric Verification of Customers, Customer Profile in CDMS, Account Opening/Operations &amp; Dormancy Violations, CDD &amp; EDD Issues</td>
            <td class="text-center">4</td>
            <td class="text-center">40</td>
            <td class="text-center"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>General Banking Operations &amp; Management (Security &amp; Cash Operations, Account Opening, Cheque Book/Debit Card Management, Receipt/Payment Operations &amp; General Controls)</td>
            <td>Issues Related to Zakat Exemption, Deduction, Refund etc.</td>
            <td class="text-center">2</td>
            <td class="text-center">0</td>
            <td class="text-center"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>General Banking Operations &amp; Management (Security &amp; Cash Operations, Account Opening, Cheque Book/Debit Card Management, Receipt/Payment Operations &amp; General Controls)</td>
            <td>Cheque Book/ATM/Debit Cards</td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>General Banking Operations &amp; Management (Security &amp; Cash Operations, Account Opening, Cheque Book/Debit Card Management, Receipt/Payment Operations &amp; General Controls)</td>
            <td>Request, Delivery, Stop Payment and Shredding of Cheque Book/ATM/Debit Cards</td>
            <td class="text-center">4</td>
            <td class="text-center">0</td>
            <td class="text-center">0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>General Banking Operations &amp; Management (Security &amp; Cash Operations, Account Opening, Cheque Book/Debit Card Management, Receipt/Payment Operations &amp; General Controls)</td>
            <td>Payment/Receipt Operations</td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="table-success">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Fraud &amp; Forgery, Embezzlement, Impersonation, Parallel Banking etc.</td>
            <td></td>
            <td class="text-center">5</td>
            <td class="text-center">0</td>
            <td class="text-center">0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#riskRegisterTable').DataTable({
                paging: false,
                searching: false,
                info: false,
                ordering: false,
                dom: '<"top"lfB>rt<"bottom"ip><"clear">',
                buttons: [
                    { extend: 'pdfHtml5', orientation: 'landscape', pageSize: 'A4' },
                    { extend: 'excelHtml5', text: 'Export to Excel' },
                    { extend: 'csvHtml5', text: 'Export to CSV' },
                    { extend: 'copyHtml5', text: 'Copy to Clipboard' }
                ]
            });
        });
    </script>
}
